body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen ;
    background: linear-gradient(darkgreen, green) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    text-align: center;
    color: white;
}

main {
    margin: 0;
    padding: 0;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

p {
    font-size: 1.8em;
}

button {
    padding: 5px;
    font-weight: bold;
    font-size: 1.4em;
    color: #016f32;
    width: 200px;
    background: goldenrod;
    /* text-transform: uppercase; */
    border: none;
    border-radius: 5px;

}
