body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkgreen ;
    background: linear-gradient(darkgreen, green) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    text-align: center;
    color: white;
}

main {
    margin: 0;
    padding: 0;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

p {
    font-size: 1.8em;
}
button.btnStart {
    margin-bottom: 15px;
}
button {
    padding: 15px 25px;
    margin: 5px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: goldenrod;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
button:hover {
  transform: scale(1.05);
}
button:active {
    background-color: yellowgreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
